body {
    background-image: url(../img/background.png);
    background-repeat: repeat;
}

html, body {
    height: 100%;
}

#container {
    background-repeat: no-repeat;
    background-position: top center;
    height: 100%;
}

.wit-grd {
    height: 100%;
    background:-moz-linear-gradient(bottom,rgba(255,255,255,1) 0,rgba(254,254,254,1) 71%,rgba(239,239,239,0.98) 74%,rgba(209,209,209,0.87) 80%,rgba(194,194,194,0.78) 83%,rgba(189,189,189,0.75) 84%,rgba(171,171,171,0.57) 88%,rgba(169,169,169,0.52) 89%,rgba(166,166,166,0.46) 90%,rgba(159,159,159,0.35) 92%,rgba(151,151,151,0.24) 94%,rgba(151,151,151,0.13) 96%,rgba(151,151,151,0.1) 97%,rgba(128,128,128,0.07) 98%,rgba(128,128,128,0.03) 99%,rgba(1,1,1,0) 100%);
    background:-webkit-gradient(linear,left,bottom,left,top,color-stop(0,rgba(255,255,255,1)),color-stop(71%,rgba(254,254,254,1)),color-stop(74%,rgba(239,239,239,0.98)),color-stop(80%,rgba(209,209,209,0.87)),color-stop(83%,rgba(194,194,194,0.78)),color-stop(84%,rgba(189,189,189,0.75)),color-stop(88%,rgba(171,171,171,0.57)),color-stop(89%,rgba(169,169,169,0.52)),color-stop(90%,rgba(166,166,166,0.46)),color-stop(92%,rgba(159,159,159,0.35)),color-stop(94%,rgba(151,151,151,0.24)),color-stop(96%,rgba(151,151,151,0.13)),color-stop(97%,rgba(151,151,151,0.1)),color-stop(98%,rgba(128,128,128,0.07)),color-stop(99%,rgba(128,128,128,0.03)),color-stop(100%,rgba(1,1,1,0)));
    background:-webkit-linear-gradient(bottom,rgba(255,255,255,1) 0,rgba(254,254,254,1) 71%,rgba(239,239,239,0.98) 74%,rgba(209,209,209,0.87) 80%,rgba(194,194,194,0.78) 83%,rgba(189,189,189,0.75) 84%,rgba(171,171,171,0.57) 88%,rgba(169,169,169,0.52) 89%,rgba(166,166,166,0.46) 90%,rgba(159,159,159,0.35) 92%,rgba(151,151,151,0.24) 94%,rgba(151,151,151,0.13) 96%,rgba(151,151,151,0.1) 97%,rgba(128,128,128,0.07) 98%,rgba(128,128,128,0.03) 99%,rgba(1,1,1,0) 100%);
    background:-o-linear-gradient(bottom,rgba(255,255,255,1) 0,rgba(254,254,254,1) 71%,rgba(239,239,239,0.98) 74%,rgba(209,209,209,0.87) 80%,rgba(194,194,194,0.78) 83%,rgba(189,189,189,0.75) 84%,rgba(171,171,171,0.57) 88%,rgba(169,169,169,0.52) 89%,rgba(166,166,166,0.46) 90%,rgba(159,159,159,0.35) 92%,rgba(151,151,151,0.24) 94%,rgba(151,151,151,0.13) 96%,rgba(151,151,151,0.1) 97%,rgba(128,128,128,0.07) 98%,rgba(128,128,128,0.03) 99%,rgba(1,1,1,0) 100%);
    background:-ms-linear-gradient(bottom,rgba(255,255,255,1) 0,rgba(254,254,254,1) 71%,rgba(239,239,239,0.98) 74%,rgba(209,209,209,0.87) 80%,rgba(194,194,194,0.78) 83%,rgba(189,189,189,0.75) 84%,rgba(171,171,171,0.57) 88%,rgba(169,169,169,0.52) 89%,rgba(166,166,166,0.46) 90%,rgba(159,159,159,0.35) 92%,rgba(151,151,151,0.24) 94%,rgba(151,151,151,0.13) 96%,rgba(151,151,151,0.1) 97%,rgba(128,128,128,0.07) 98%,rgba(128,128,128,0.03) 99%,rgba(1,1,1,0) 100%);
    background:linear-gradient(to top,rgba(255,255,255,1) 0,rgba(254,254,254,1) 71%,rgba(239,239,239,0.98) 74%,rgba(209,209,209,0.87) 80%,rgba(194,194,194,0.78) 83%,rgba(189,189,189,0.75) 84%,rgba(171,171,171,0.57) 88%,rgba(169,169,169,0.52) 89%,rgba(166,166,166,0.46) 90%,rgba(159,159,159,0.35) 92%,rgba(151,151,151,0.24) 94%,rgba(151,151,151,0.13) 96%,rgba(151,151,151,0.1) 97%,rgba(128,128,128,0.07) 98%,rgba(128,128,128,0.03) 99%,rgba(1,1,1,0) 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#00010101',GradientType=1);
}

.wit-grd-overlay {
    background:-moz-linear-gradient(left,rgba(255,255,255,1) 0,rgba(254,254,254,1) 71%,rgba(239,239,239,0.98) 74%,rgba(209,209,209,0.87) 80%,rgba(194,194,194,0.78) 83%,rgba(189,189,189,0.75) 84%,rgba(171,171,171,0.57) 88%,rgba(169,169,169,0.52) 89%,rgba(166,166,166,0.46) 90%,rgba(159,159,159,0.35) 92%,rgba(151,151,151,0.24) 94%,rgba(151,151,151,0.13) 96%,rgba(151,151,151,0.1) 97%,rgba(128,128,128,0.07) 98%,rgba(128,128,128,0.03) 99%,rgba(1,1,1,0) 100%);
    background:-webkit-gradient(linear,left,top,right,top,color-stop(0,rgba(255,255,255,1)),color-stop(71%,rgba(254,254,254,1)),color-stop(74%,rgba(239,239,239,0.98)),color-stop(80%,rgba(209,209,209,0.87)),color-stop(83%,rgba(194,194,194,0.78)),color-stop(84%,rgba(189,189,189,0.75)),color-stop(88%,rgba(171,171,171,0.57)),color-stop(89%,rgba(169,169,169,0.52)),color-stop(90%,rgba(166,166,166,0.46)),color-stop(92%,rgba(159,159,159,0.35)),color-stop(94%,rgba(151,151,151,0.24)),color-stop(96%,rgba(151,151,151,0.13)),color-stop(97%,rgba(151,151,151,0.1)),color-stop(98%,rgba(128,128,128,0.07)),color-stop(99%,rgba(128,128,128,0.03)),color-stop(100%,rgba(1,1,1,0)));
    background:-webkit-linear-gradient(left,rgba(255,255,255,1) 0,rgba(254,254,254,1) 71%,rgba(239,239,239,0.98) 74%,rgba(209,209,209,0.87) 80%,rgba(194,194,194,0.78) 83%,rgba(189,189,189,0.75) 84%,rgba(171,171,171,0.57) 88%,rgba(169,169,169,0.52) 89%,rgba(166,166,166,0.46) 90%,rgba(159,159,159,0.35) 92%,rgba(151,151,151,0.24) 94%,rgba(151,151,151,0.13) 96%,rgba(151,151,151,0.1) 97%,rgba(128,128,128,0.07) 98%,rgba(128,128,128,0.03) 99%,rgba(1,1,1,0) 100%);
    background:-o-linear-gradient(left,rgba(255,255,255,1) 0,rgba(254,254,254,1) 71%,rgba(239,239,239,0.98) 74%,rgba(209,209,209,0.87) 80%,rgba(194,194,194,0.78) 83%,rgba(189,189,189,0.75) 84%,rgba(171,171,171,0.57) 88%,rgba(169,169,169,0.52) 89%,rgba(166,166,166,0.46) 90%,rgba(159,159,159,0.35) 92%,rgba(151,151,151,0.24) 94%,rgba(151,151,151,0.13) 96%,rgba(151,151,151,0.1) 97%,rgba(128,128,128,0.07) 98%,rgba(128,128,128,0.03) 99%,rgba(1,1,1,0) 100%);
    background:-ms-linear-gradient(left,rgba(255,255,255,1) 0,rgba(254,254,254,1) 71%,rgba(239,239,239,0.98) 74%,rgba(209,209,209,0.87) 80%,rgba(194,194,194,0.78) 83%,rgba(189,189,189,0.75) 84%,rgba(171,171,171,0.57) 88%,rgba(169,169,169,0.52) 89%,rgba(166,166,166,0.46) 90%,rgba(159,159,159,0.35) 92%,rgba(151,151,151,0.24) 94%,rgba(151,151,151,0.13) 96%,rgba(151,151,151,0.1) 97%,rgba(128,128,128,0.07) 98%,rgba(128,128,128,0.03) 99%,rgba(1,1,1,0) 100%);
    background:linear-gradient(to right,rgba(255,255,255,1) 0,rgba(254,254,254,1) 71%,rgba(239,239,239,0.98) 74%,rgba(209,209,209,0.87) 80%,rgba(194,194,194,0.78) 83%,rgba(189,189,189,0.75) 84%,rgba(171,171,171,0.57) 88%,rgba(169,169,169,0.52) 89%,rgba(166,166,166,0.46) 90%,rgba(159,159,159,0.35) 92%,rgba(151,151,151,0.24) 94%,rgba(151,151,151,0.13) 96%,rgba(151,151,151,0.1) 97%,rgba(128,128,128,0.07) 98%,rgba(128,128,128,0.03) 99%,rgba(1,1,1,0) 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#00010101',GradientType=1);
    top: 20%;
    width: 100%;
    position: absolute;
}

#container_sucess {
    background-image: url(../img/header_sucess.png);
    background-repeat: no-repeat;
    background-position: top center;
}

#subcontainer {
    width: 900px;
    margin: 0 auto;
}

#header {

}

#header h1 {
    background-repeat: no-repeat;
    width: 260px;
    height: 96px;
    text-indent: -99999px;
    margin: 0px;
    padding: 0px;
    float: right;
    margin-right: 210px;
    position: relative;
}

#header .print {

    width: 260px;
    height: 96px;
    right: -556px;
    top: 20px;
    position: relative;
    margin: 0px;
    padding: 0px;
    float: right;
}

#navigation {

}

#pageconatiner {

}

.sidebar {
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 5px #b9b9b9;
    width: 360px;
    float: left;
}

#footer {
    background: #757575; /* Old browsers */
    background: -moz-linear-gradient(top, #757575 0%, #757575 36%, #454545 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#757575), color-stop(36%,#757575), color-stop(100%,#454545)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #757575 0%,#757575 36%,#454545 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #757575 0%,#757575 36%,#454545 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #757575 0%,#757575 36%,#454545 100%); /* IE10+ */
    background: linear-gradient(to bottom, #757575 0%,#757575 36%,#454545 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#757575', endColorstr='#454545',GradientType=0 ); /* IE6-9 */
    margin-top: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#footer-content {
    width: 880px;
    margin: 0 auto;
    padding: 10px;
}

#footer .w1 {
    color: #FFFFFF;
    text-shadow: 2px 2px #323232;
}

#footer .w2 {
    color: #c3c3c3;
    text-shadow: 2px 2px #323232;
}
