@font-face {
  font-family: 'HelveticaNeueLT Pro 55 Roman';
  src: url('../fonts/HelveticaNeueLTPro-Roman.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueLTPro-Roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaNeueLTPro-Roman.woff') format('woff'), /* Modern Browsers */
       url('../fonts/HelveticaNeueLTPro-Roman.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaNeueLTPro-Roman.svg#d1a2c6b6bbb42f642f25c6a2c64a65d0') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}
@font-face {
  font-family: 'HelveticaNeueLT Pro 45 Lt';
  src: url('../fonts/HelveticaNeueLTPro-Lt.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueLTPro-Lt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaNeueLTPro-Lt.woff') format('woff'), /* Modern Browsers */
       url('../fonts/HelveticaNeueLTPro-Lt.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaNeueLTPro-Lt.svg#3162d512a0b0767ee94e99606f47da13') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}
@font-face {
  font-family: 'HelveticaNeue Bold';
  src: url('../fonts/HelveticaNeueLTPro-Bd.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueLTPro-Bd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaNeueLTPro-Bd.woff') format('woff'), /* Modern Browsers */
       url('../fonts/HelveticaNeueLTPro-Bd.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaNeueLTPro-Bd.svg#efe703c29c750bbe20a3718d66e89bed') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}

html, body {
    height: 100%;
}

#container {
    background-repeat: no-repeat;
    background-position: top center;
    height: 100%;
    -webkit-filter: blur(4px);
}

.min-width {
    min-width: 940px;
}

.main-bdy {
    float:left;
    width:100%;     
    height: 100%;
    background: transparent url(../img/overlay.png) repeat-x top left;
    position: absolute;
    top: 0;
}

.main-bdy-grn { float:left; width:100%; background:url(../img/wit-gren-shad.png) left top repeat-x;}

.wit-grd {
}

.wit-grd-overlay {
    background:-moz-linear-gradient(left,rgba(255,255,255,1) 0,rgba(254,254,254,1) 71%,rgba(239,239,239,0.98) 74%,rgba(209,209,209,0.87) 80%,rgba(194,194,194,0.78) 83%,rgba(189,189,189,0.75) 84%,rgba(171,171,171,0.57) 88%,rgba(169,169,169,0.52) 89%,rgba(166,166,166,0.46) 90%,rgba(159,159,159,0.35) 92%,rgba(151,151,151,0.24) 94%,rgba(151,151,151,0.13) 96%,rgba(151,151,151,0.1) 97%,rgba(128,128,128,0.07) 98%,rgba(128,128,128,0.03) 99%,rgba(1,1,1,0) 100%);
    background:-webkit-gradient(linear,left,top,right,top,color-stop(0,rgba(255,255,255,1)),color-stop(71%,rgba(254,254,254,1)),color-stop(74%,rgba(239,239,239,0.98)),color-stop(80%,rgba(209,209,209,0.87)),color-stop(83%,rgba(194,194,194,0.78)),color-stop(84%,rgba(189,189,189,0.75)),color-stop(88%,rgba(171,171,171,0.57)),color-stop(89%,rgba(169,169,169,0.52)),color-stop(90%,rgba(166,166,166,0.46)),color-stop(92%,rgba(159,159,159,0.35)),color-stop(94%,rgba(151,151,151,0.24)),color-stop(96%,rgba(151,151,151,0.13)),color-stop(97%,rgba(151,151,151,0.1)),color-stop(98%,rgba(128,128,128,0.07)),color-stop(99%,rgba(128,128,128,0.03)),color-stop(100%,rgba(1,1,1,0)));
    background:-webkit-linear-gradient(left,rgba(255,255,255,1) 0,rgba(254,254,254,1) 71%,rgba(239,239,239,0.98) 74%,rgba(209,209,209,0.87) 80%,rgba(194,194,194,0.78) 83%,rgba(189,189,189,0.75) 84%,rgba(171,171,171,0.57) 88%,rgba(169,169,169,0.52) 89%,rgba(166,166,166,0.46) 90%,rgba(159,159,159,0.35) 92%,rgba(151,151,151,0.24) 94%,rgba(151,151,151,0.13) 96%,rgba(151,151,151,0.1) 97%,rgba(128,128,128,0.07) 98%,rgba(128,128,128,0.03) 99%,rgba(1,1,1,0) 100%);
    background:-o-linear-gradient(left,rgba(255,255,255,1) 0,rgba(254,254,254,1) 71%,rgba(239,239,239,0.98) 74%,rgba(209,209,209,0.87) 80%,rgba(194,194,194,0.78) 83%,rgba(189,189,189,0.75) 84%,rgba(171,171,171,0.57) 88%,rgba(169,169,169,0.52) 89%,rgba(166,166,166,0.46) 90%,rgba(159,159,159,0.35) 92%,rgba(151,151,151,0.24) 94%,rgba(151,151,151,0.13) 96%,rgba(151,151,151,0.1) 97%,rgba(128,128,128,0.07) 98%,rgba(128,128,128,0.03) 99%,rgba(1,1,1,0) 100%);
    background:-ms-linear-gradient(left,rgba(255,255,255,1) 0,rgba(254,254,254,1) 71%,rgba(239,239,239,0.98) 74%,rgba(209,209,209,0.87) 80%,rgba(194,194,194,0.78) 83%,rgba(189,189,189,0.75) 84%,rgba(171,171,171,0.57) 88%,rgba(169,169,169,0.52) 89%,rgba(166,166,166,0.46) 90%,rgba(159,159,159,0.35) 92%,rgba(151,151,151,0.24) 94%,rgba(151,151,151,0.13) 96%,rgba(151,151,151,0.1) 97%,rgba(128,128,128,0.07) 98%,rgba(128,128,128,0.03) 99%,rgba(1,1,1,0) 100%);
    background:linear-gradient(to right,rgba(255,255,255,1) 0,rgba(254,254,254,1) 71%,rgba(239,239,239,0.98) 74%,rgba(209,209,209,0.87) 80%,rgba(194,194,194,0.78) 83%,rgba(189,189,189,0.75) 84%,rgba(171,171,171,0.57) 88%,rgba(169,169,169,0.52) 89%,rgba(166,166,166,0.46) 90%,rgba(159,159,159,0.35) 92%,rgba(151,151,151,0.24) 94%,rgba(151,151,151,0.13) 96%,rgba(151,151,151,0.1) 97%,rgba(128,128,128,0.07) 98%,rgba(128,128,128,0.03) 99%,rgba(1,1,1,0) 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#00010101',GradientType=1);
    top: 20%;
    width: 100%;
    position: absolute;
}

#container_sucess {
    background-image: url(../img/header_sucess.png);
    background-repeat: no-repeat;
    background-position: top center;
}

#subcontainer {
    width: 940px;
    margin: 0 auto;
    padding-bottom: 60px;
}

#subcontainer2 {
    margin: 0 20px;
}

#header {

}

#header h1 {
    background-repeat: no-repeat;
    width: 200px;
    height: 75px;
    text-indent: -99999px;
    margin: 20px 160px;
    padding: 0px;
    float: right;
    position: relative;
}

#header .print {

    width: 260px;
    height: 96px;
    right: -556px;
    top: 20px;
    position: relative;
    margin: 0px;
    padding: 0px;
    float: right;
}

#navigation {

}

#pageconatiner {

}
.sidebar {
    padding: 10px;
    width: 360px;
    float: left;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    -moz-box-shadow: 0 2px 4px rgba(1,1,1,.25);
    -webkit-box-shadow: 0 2px 4px rgba(1,1,1,.25);
    box-shadow: 0 2px 4px rgba(1,1,1,.25);
}
.userphoto{
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #1a9db5;
    -moz-box-shadow: 0 1px 2px rgba(1,1,1,.5);
    -webkit-box-shadow: 0 1px 2px rgba(1,1,1,.5);
    box-shadow: 0 1px 2px rgba(1,1,1,.5);
}

#footer {
    height: 56px;
    background: url(../img/footer-bg.png) repeat-x top left;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#footer-content {
    margin: 0 auto;
    padding: 10px;
    line-height: 36px;
    font-size: 14px;
    font-family: Arial;
}

#footer .w1 a{
    float: left;
    margin-left: 40px;
    color: #f3f3f3;
}

#footer .w2 a{
    float: right;
    margin-right: 40px;
    color: #c3c3c3;
    font-size: 14px;
    text-shadow: 0 -2px 0 rgba(0,0,0,.5);
}
#footer .w2 a:hover{
    text-decoration: none;
}

.btn {
    color: #fff;
    font-size: 16px;
    margin: 1% 3%;
    padding: 2%;
    border: 0px;
    text-align: center;
    width: 94%;
    height: 40px;
    font-weight: bold;
    border-radius: 5px;
    filter: dropshadow(color=#050505,offx=-1,offy=-1)
}

.grd-btn {
    background: url('../img/btn_blue.png');
    background-size: cover;
}
body {
    background-image: url(../img/background.png);
    background-repeat: repeat;
    overflow-x: hidden;
}
 
.location {
    background-image: url(../img/icon-place.png);
    background-repeat: no-repeat;
    width: 12px;
    height: 18px;
    margin-right: 20px;
    margin-top: 5px;
    position: relative;
}
 
.phone {
    background-image: url(../img/icon-phone.png);
    background-repeat: no-repeat;
    width: 19px;
    height: 18px;
    margin-top: 5px;
    position: relative;
}
 
h3 {
    color: #FFFFFF;
}
 
.widget {
    top: 0;
    position: relative;
    margin-top: -70px;
    padding-left: 10px;
    padding-right: 10px;
}
 
.widget h3 {
    font-family: HelveticaNeueLT Pro 45 Lt;
    font-size: 28px;
}
 
.col-md-4 {
    width: 70px;
    float: left;
}
 
.img-rounded {
    border-bottom: solid 1px #8f8f8f;
    border-left: solid 1px #8f8f8f;
    border-right: solid 1px #cacaca;
}
 
#footer {
    background: #454545; /* Old browsers */
    padding: 10px;
    position: relative;
    height: 40px; 
}
 
#footer .pull-left {
    color: #FFFFFF;
}
 
#footer .pull-right {
    color: #c3c3c3;
}
 
.col-md-1 {
    float: left;
    width: 5%;
}
 
.col-md-6 {
    float: left;
    width: 98%;
    background-image: url(../img/ribbon-right-bkg.png);
    background-repeat: repeat-y;
    background-position: right;
    padding-left: 0;
    padding-right: 7px;
    color: #FFFFFF;
    text-align: center;
}
 
.col-md-6 h3 {
    font-size: 38px;
    font-family: HelveticaNeueLTPro-Bd;
}
 
.globe {
    background-image: url(../img/icon-globe.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 18px;
    height: 18px;
    margin-right: 20px;
    margin-top: 3px;
    position: relative;
}

.page-header {
    margin: 10px 0;
}

.btn:hover, .btn:focus {
    color: #FFFFFF;
    opacity: 0.8;
}

.hedng {
    float: left;
    padding: 2%;
    width: 100%;
    text-shadow: 0px 1px 1px #FFFFFF;
}
.hedbk {
    background: #9bbeea;
    color: #0f4689;
}
.hedbk1 {
    background: #85d08a;
    color: #135317;
    -moz-box-shadow: inset 0 -2px 2px 0 #6eac73;
    -webkit-box-shadow: inset 0 -2px 2px 0 #6eac73;
    box-shadow: inset 0 -2px 2px 0 #6eac73;
}
.hedbk2 {
    background: #74c877;
    color: #10400F;
}
.hedbk1-botm-patrn {
    float: left;
    width: 100%;
    height: 2px;
    background: url(../img/greendote.png) left bottom repeat-x;
    background-size: 8px;
}
.hedbk2-botm-patrn {
    float: left;
    width: 100%;
    height: 3px;
    background: url(../img/bluedote.png) left bottom repeat-x;
}
.hedng h1 {
    float: left;
    width: 45%;
    font-size: 35px;
    margin: 0;
}

.hedng p {
    float: left;
    font-size: 16px;
    text-align: center;
    width: 100%;
    margin: 0;
}
.hedng h2 {
    float: left;
    width: 100%;
    font-size: 30px;
    margin: 2% 0 2ï¼…;
    text-align: center;
}
.hedng h3 {
    float: right;
    font-size: 18px;
    font-weight: normal;
    margin: 6% 0 0;
    text-align: right;
    width: 45%;
}

h1.pg-hedng {
    color: #3A3A3A;
    float: left;
    font-size: 30px;
    font-weight: normal;
    margin: 5% 0 4%;
    text-align: center;
    width: 100%;
}
.frm-fed {
    float: left;
    width: 96%;
    margin: 1% 2%;
    padding: 0
}
.frm-fed h3 {
    color: #888686;
    font-size: 15px;
    font-weight: normal;
    margin: 2% 3%;
    width: 96%;
}
.frm-fed p {
    color: #888686;
    float: left;
    font-size: 11px;
    margin: 2% 3%;
    width: 96%;
}

.cd-br-stin {
    float: left;
    width: 96%;
    margin: 2%;
    border-bottom: 2px solid #c4c4c4;
}
.cd-br-stin h1, .cd-br-stin h2, .cd-br-stin h3 {
    float: left;
    width: 100%;
    text-align: center;
}

.cd-br-stin h1 {
    color: #3A3A3A;
    font-size: 40px;
    margin: 0;
}
.cd-br-stin h2 {
    font-size: 30px;
    color: #9c9c9c;
    font-weight: normal;
}
.cd-br-stin h3 {
    color: #3A3A3A;
    font-size: 16px;
    margin: 1% 0;
    font-weight: normal;
} 
.crt {
    text-align: center;
}
.crt p {
    line-height: 14px;
}
.bsnm {
    margin: 1% 3%;
    padding: 2%;
    width: 94%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #666;
    border: 1px solid #ccc;
}
#redeem-success {
    text-align: center;
}
#redeem-success h1 {
    margin-top: 40px;
}
#redeem-success p {
    margin-top: 20px;
    font-size:16px;
}