@font-face {
  font-family: 'HelveticaNeueLT Pro 55 Roman';
  src: url('../fonts/HelveticaNeueLTPro-Roman.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueLTPro-Roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaNeueLTPro-Roman.woff') format('woff'), /* Modern Browsers */
       url('../fonts/HelveticaNeueLTPro-Roman.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaNeueLTPro-Roman.svg#d1a2c6b6bbb42f642f25c6a2c64a65d0') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}
@font-face {
  font-family: 'HelveticaNeueLT Pro 45 Lt';
  src: url('../fonts/HelveticaNeueLTPro-Lt.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueLTPro-Lt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaNeueLTPro-Lt.woff') format('woff'), /* Modern Browsers */
       url('../fonts/HelveticaNeueLTPro-Lt.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaNeueLTPro-Lt.svg#3162d512a0b0767ee94e99606f47da13') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}
@font-face {
  font-family: 'HelveticaNeue Bold';
  src: url('../fonts/HelveticaNeueLTPro-Bd.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueLTPro-Bd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaNeueLTPro-Bd.woff') format('woff'), /* Modern Browsers */
       url('../fonts/HelveticaNeueLTPro-Bd.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaNeueLTPro-Bd.svg#efe703c29c750bbe20a3718d66e89bed') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}
/*----------------- Reset ---------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	background: #fff;
	line-height: 1;
}
ol, ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a img {
	border: 0;
}
/* Block elements */
header, hgroup, footer, section, article, aside {
	display: block;
}
/* Clear */
.clear { clear: both }
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
* html .clearfix{ zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
.remove-margin { margin-right: 0 !important }
/*----------------- Landing page ---------------------------*/
html{
    height: 100%;
}
body{
    width:100%;
    padding:0;
    margin:0;
    height:100%;
    background: url(../img/background.png) repeat top center;
    font-family: 'HelveticaNeueLT Pro 55 Roman', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
}
strong{
    font-family: 'HelveticaNeue Bold';
}
#container{
    background-repeat: no-repeat;
    background-position: top center;
    height: 100%;
}
#wrap{
    position:absolute;
    top:0;
    height:100%;
    width:100%;
    margin:0;
    background: url(../img/overlay-new.png) repeat-x top left;
    display: inline-table;
    z-index: 0;
}
#main{
    width:900px;
    margin: 0 auto 66px;
}
#info{
    margin-top:80px;
    padding: 10px;
    width: 340px;
    float: left;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    -moz-box-shadow: 0 2px 4px rgba(1,1,1,.25);
    -webkit-box-shadow: 0 2px 4px rgba(1,1,1,.25);
    box-shadow: 0 2px 4px rgba(1,1,1,.25);
}
#info .info-header{
    margin-bottom: 10px;
}
#info .info-header .userphoto{
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    width:62px;
    height:62px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #1a9db5;
    -moz-box-shadow: 0 1px 2px rgba(1,1,1,.5);
    -webkit-box-shadow: 0 1px 2px rgba(1,1,1,.5);
    box-shadow: 0 1px 2px rgba(1,1,1,.5);
    float:left;
    margin-right:10px;
}
#info .info-header h3{
    font-size: 18px;
    float:left;
    margin-top:36px;
    font-family:'HelveticaNeue Bold';
}
#info .info-content{
    width:340px;
    height:340px;
    position: relative;
}
#info .info-content .main-image{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    height:340px;
    width:340px;
}
#info .info-content .overlay{
    width:340px;
    height:188px;
    bottom: 0px;
    left:0;
    display:block;
    z-index:5;
    position:absolute;
     -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.overlay-img {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#info .info-content .content-detail{
    position:absolute;
    left:15px;
    display:block;
    bottom: 15px;
    z-index: 10;
}
#info .info-content .content-detail h3{
    font-size:28px;
    line-height:36px;
    color:#fff;
    margin-bottom:8px;
    font-family: 'HelveticaNeueLT Pro 45 Lt';
    font-weight:300;
}
#info .info-content .content-detail .location, #info .info-content .content-detail .globe{
    width:22px;
    height:22px;
    float: left;
    margin-right:15px;
}
#info .info-footer{
    padding-left: 25px;
    margin-top: 8px;
    font-size: 12px;
}
#info .info-footer .info-icon {
    margin-left: -25px;
    margin-top: 5px;
    float: left;
}
#main-right{
    margin-top: 0px;
    width:540px;
    float: right;
}
#main-right #header{
    height:105px;
    padding:10px 0;
    width:540px;
    display: block;
}
#main-right #header .logo {
    float: left;
    margin-left: 205px;
    width: auto;
    height: 105px;
    text-indent: -99999px;
    padding: 0px;
    display:block;
}
#main-right h3{
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 25px;
}
#main-right #ribbon{
    color:#FFF;
    width:540px;
    height: 65px;
    background: url(../img/ribbon.png) no-repeat top left;
    text-align:center;
    padding: 25px 0;
    font-size:22px;
    line-height: 22px;
    background-size: 100% 100%;
}

#main-right #ribbon h2{
    font-size: 42px;
    line-height: 42px;
    height:42px;
    font-family:'HelveticaNeue Bold';
    margin-left: 20px;
}
#main-right #ribbon p{
    margin-left: 20px;
}
#main-right #ribbon small{
    margin-left: 20px;
}

#main-right #ribbon-blue{
    color:#FFF;
    width:540px;
    height: 90px;
    background: url(../img/ribbon.png);
    text-align:center;
    padding: 25px 0;
    font-size:22px;
    line-height: 22px;
    background-size: 100% 100%;
}
#main-right #ribbon-blue-dec{
    background: url(../img/bnr-blu-ptrn.png);
    background-size: 100%;
    height: 110px;
    width: 3px;
    float: right;
}
#main-right #ribbon-blue h2{
    margin: 20px 0 20px;
    font-size: 42px;
    line-height: 42px;
    font-family:'HelveticaNeue Bold';
}
#main-right #ribbon small{
    font-size:12px;
    height:12px;
    line-height: 28px;
    font-style:italic;
    font-family: 'HelveticaNeueLT Pro 45 Lt';
}
#main-right #facebook-div{
    text-align:center;
    margin-top: 12px;
}
#main-right #facebook-div p.title{
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
    color: #393939;
    text-shadow: 0 2px 0 rgba(255,255,255,.5);
}
#main-right #facebook-div p.disclaimer{
    font-size:12px;
    font-style: italic;
    line-height: 15px;
    margin-top: 10px;
    font-family: 'HelveticaNeueLT Pro 45 Lt';
    color: #393939;
    font-weight:300;
}
#main-right #redeem-div{
    text-align:center;
    margin-top: 12px;
    margin-left: 30px;
}
#main-right .redeem-note{
    font-size: 16px;
    line-height: 22px;
    margin: 10px 10px 10px 10px;
}
#barcode-val {
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 6px;
}
#footer-wrap{
    position:fixed;
    bottom:0;
    left:0;
    background: url(../img/footer-bg.png) repeat-x;
    height:56px;
    width:100%;
    display:block;
    z-index: 15;
}
#footer{
    width:900px;
    margin:0 auto;
    font-size:14px;
    line-height: 56px;
}
#footer .footer-left{
    text-align:left;
    width:450px;
    float:left;
}
#footer .footer-right{
    text-align:right;
    width:450px;
    float:right;
    color: #c3c3c3;
    text-shadow: 0 -2px 0 rgba(0,0,0,.5);
}
#footer .footer-left a{
    color: #fff;
    text-decoration:none;
    text-shadow: 0 -2px 0 rgba(0,0,0,.5);
}
#footer .footer-left a:hover{
    color: #c3c3c3;  
}
#footer .footer-right a{
    color: #c3c3c3;
    text-decoration:none;
    text-shadow: 0 -2px 0 rgba(0,0,0,.5);
}
#footer .footer-right a:hover{
    color: #a0a0a0;  
}
.bsnm {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1%;
    width: 58%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #666;
}
#main-right .frm-fed h3 {
    font-size: 15px;
    margin: 15px 12px 5px 12px;
}
.btn {
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    margin: 0%;
    padding: 2%;
    border: 0;
    text-align: center;
    width: 350px;
    height: 50px;
    border-radius: 12px;
    text-decoration: none;
}
.grd-btn {
    background: url('../img/btn_blue.png');
    background-size: 100% 100%;
    margin-left: 8px;
}
input[disabled="disabled"] {
    opacity:.2;
}
button[disabled="disabled"] {
    opacity:.2;
}
#redeem-success h3 {
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    margin: 30px 0 30px;
}
#redeem-success p {
    text-align: center;
    font-size: 20px;
    font-weight: normal;
}
.print-btn {
    width: 140px;
    float: right;
    margin-top: 40px;
    height: 40px;
    margin-left:0px;
}
.print-btn img {
    width: 20px;
    height: 20px;
}
.print-btn span {
    font-weight: normal;
    line-height: 0px;
    vertical-align: super;
    font-size:17px;
}
#success-msg h1 {
    font-size: 34px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-left:20px;
    color: #136613;
}
#main-right #success-msg h3 {
    margin-top: 0;
    margin-left: 90px;
    width:70%;
    color: #136613;
    
}
#green-overlay {
    background-color:#95DD9A;
    opacity: 0.8;
    width: 100%;
    height: 145px;
    top: 124px;
    z-index:-1;
    position: absolute;
}
#barcode-note {
    font-size: 20px;
}
#share-link-div {
    text-align: center;
    margin: 20px auto;
}
.btn.grd-btn.mini-btn {
    width:200px;
    height:50px;
    font-size:14px;
    margin:10px;
}
.btn.grd-btn.copy-btn {
    position:absolute;
    top:-5px;
    right:40px;
    width:50px;
    height:30px;
    display:none;
    font-size:12px;
}
input {
    border: 1px solid rgba(1,1,1,.2);
    -moz-border-radius: 7px / 5px;
    -webkit-border-radius: 7px / 5px;
    border-radius: 7px / 5px;
    background-color: #fff;
    -moz-box-shadow: inset 0 1px 5px rgba(1,1,1,.25);
    -webkit-box-shadow: inset 0 1px 5px rgba(1,1,1,.25);
    box-shadow: inset 0 1px 5px rgba(1,1,1,.25);
    font-size:16px;
    line-height: 18px;
    color:#393939;
    font-family:"Lucida Grande", sans-serif;
    height:18px;
    padding:7px;
    width: 330px;
    margin-bottom: 7px;
    height: 30px;
}
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:#a3a3a3;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#a3a3a3;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#a3a3a3;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#a3a3a3;
}
.for-print {display: none;}
@media print {
    .for-print {
        display:inline;
    }
}
