html,body {
  width:100%;
  margin:0;
  padding:0;
}

#backgrond img {
  position:absolute;
  left:0px;
  top:0px;
  z-index:-1;
  clear:both;
  overflow: hidden;
  border:none;
}

#fb-login-div {
  position:relative;
  bottom:3%;
}

#header {
	position: absolute;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4a4a4), color-stop(2%,#8d8d8d), color-stop(26%,#7f7f7f), color-stop(77%,#525252), color-stop(88%,#4a4a4a), color-stop(100%,#454545));
	text-align: center;
	height: 45px;
	width: 100%;
	top: 0;
	z-index: 999;
}

#header #back-btn-div a {
	position: absolute;
	display: block;
    width: 50px;
    height: 30px;
	left: 10px;
	top: 8px;
    border-radius: 5px;
    color: #FFFFFF;
    text-decoration: none;
  font-size: 14px;
  background: url('../img/btn_back.png');
  background-size: 100%, 100%;
  background-repeat:no-repeat;
  padding-top: 3px;
}

#header #back-btn-div a.hover {
    text-decoration: none;
}

#header #suggest-btn-div a {
	position: absolute;
	display: block;
  width: 60px;
  height: 30px;
	right: 10px;
	top: 8px;
  border-radius: 5px;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 14px;
  background: url('../img/btn_suggest.png');
  background-size: 100%, 100%;
  background-repeat:no-repeat;
  padding-top: 3px;
}

#header #suggest-btn-div a.hover {
    text-decoration: none;
}

#header #heading {
  margin-top: 3px;
	display: inline;
	line-height: 34px;
	font-size: 18px;
	color: #FFFFFF;
	font-weight: bold;
	padding-top: 3px;
}

#footer {
	position: fixed;
	bottom: 0;
    height: 45px;
	z-index: 999;
	left: 0;
	right: 0;
	background: #313131;
}

.redeem-desc-div {
  font-size: 18px;
  font-weight: bold;
}

.seperator {
  position: relative;
  width: 100%;
  height: 5px;
  background: url('../img/sep_dots_credit.png');
  background-size: 100%, 100%;
  background-repeat:no-repeat;
}

#offer-view {
    margin-top: 45px;
    margin-bottom: 45px;
}

#offer-list {
    margin-bottom: 0px;
}

#offer-list li {
    position: relative;
    border-top: 20px solid #FFFFFF;
}

#offer-list li a:hover {
    text-decoration: none;
}
 
#offer-list li a:active {
    background: #EAEAEA;
}

#offer-list .offer-background {
    width: 100%;
    height: 140px;
    z-index: -1;
}

#offer-list .offer-background-grad {
    position: absolute;
    top: 0px;
    left: 0px;
    background: -webkit-linear-gradient(top, rgba(82,82,82,0.0) 0%, rgba(62,62,62,0.6) 70%, rgba(25,25,25,1.0) 100%);
    width: 100%;
    height: 140px;
    z-index: 0;
}

#redeem-list .offer-background {
    width: 100%;
    height: 100px;
    z-index: -1;
}

#redeem-list .offer-background-grad {
    position: absolute;
    top: 0px;
    left: 0px;
    background: -webkit-linear-gradient(top, rgba(82,82,82,0.0) 0%, rgba(62,62,62,0.6) 70%, rgba(25,25,25,1.0) 100%);
    width: 100%;
    height: 100px;
    z-index: 0;
}

#offer-list .offer-label1 {
    position: absolute;
    top: -8px;
    right: 20px;
    height: 100px;
    z-index: 2;
}

#offer-list .offer-label2 {
    position: absolute;
    top: 40px;
    right: 20px;
    height: 100px;
    z-index: 1;
}

#offer-list .offer-label1-text {
    position: absolute;
    top: 10px;
    right: 45px;
    z-index: 3;
    font-size: 18px;
	color: #FFFFFF;
	font-weight: bold;
    text-align: center;
}

#offer-list .offer-label2-text {
    position: absolute;
    top: 94px;
    right: 45px;
    z-index: 3;
    font-size: 18px;
	color: #FFFFFF;
	font-weight: bold;
    text-align: center;
}

.list-view .offer-div {
    position: relative;
}

#offer-list .brand {
    position: absolute;
    top: 80px;
    left: 10px;
    font-size: 22px;
	color: #FFFFFF;
}

#redeem-list .brand {
    position: absolute;
    top: 70px;
    left: 10px;
    font-size: 18px;
  color: #FFFFFF;
}

.details .brand {
    position: absolute;
    top: 180px;
    left: 10px;
    font-size: 22px;
	color: #FFFFFF;
}

#offer-view .website {
    position: absolute;
    top: 110px;
    left: 100px;
}

#redeem-view .website {
    position: absolute;
    top: 70px;
    right: 30px;
}

.details .website {
    position: absolute;
    top: 210px;
    left: 100px;
}


.website img {
    width: 18px;
    height: 18px;
}

#offer-list .phone {
    position: absolute;
    top: 110px;
    left: 130px;
}

#redeem-list .phone {
    position: absolute;
    top: 70px;
    right: 5px;
}

.details .phone {
    position: absolute;
    top: 210px;
    left: 130px;
}

.phone img {
    width: 14px;
    height: 18px;
}

#offer-list .map {
    position: absolute;
    top: 110px;
    left: 10px;
}

#redeem-list .map {
    position: absolute;
    top: 70px;
    right: 60px;
}

.details .map {
    position: absolute;
    top: 210px;
    left: 10px;
}

.map a {
    color: #FFFFFF;
    text-decoration: none;
}

.map a.hover {
    text-decoration: none;
}

.map img {
    width: 14px;
    height: 18px;
}

.add-photo-btn {
    position: absolute;
    top: 50px;
    left: 50px;
}

#redeem-view {
    margin-top: 45px;
    margin-bottom: 45px;
}

#redeem-list {
    margin-bottom: 0px;
}

#redeem-list li {
    position: relative;
    border-bottom: 20px solid #AFAFAF;
}

#redeem-list li a:hover {
    text-decoration: none;
}
 
#redeem-list li a:active {
    background: #EAEAEA;
}

#offer-details-view {
}

#redeem-details-view {
}

#suggest-view {
}

.add-photo {
    position: relative;
    margin-top: 45px;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4a4a4), color-stop(2%,#8d8d8d), color-stop(26%,#7f7f7f), color-stop(77%,#525252), color-stop(88%,#4a4a4a), color-stop(100%,#454545));
    z-index: -2;
}

.show-picture {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
    width: 100%;
    z-index: -1;
}

.add-photo-btn {
    background: url('../img/ic_camera.png');
    background-size: 100%, 100%;
    background-repeat:no-repeat;
    width: 50px;
    height: 50px;
    border: none;
}

.take-picture {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    width: 50px;
    height: 50px;
}

.form-view {
    height: 200px;
}

.wrapper {
	position: absolute;
	z-index: 1;
	width: 100%;
	overflow: auto;
	top: 0px;
	bottom: 0px;
}

.scroller {
	position: absolute;
	z-index: 1;
	/*  -webkit-touch-callout:none;*/
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	width: 100%;
	padding: 0;
}

#footer-div {
    position: relative;
}

#offer-btn-div {
    background: url('../img/btn_normal.png');
    background-size: 100%, 100%;
    background-repeat:no-repeat;
    border: none;
    height: 45px;
    width: 50%;
    left: 0;
    top: 0;
    text-align: center;
    position: absolute;
}

#redeem-btn-div {
    background: url('../img/btn_normal.png');
    background-size: 100%, 100%;
    background-repeat:no-repeat;
    border: none;
    height: 45px;
    width: 50%;
    margin-left: 50%;
    top: 0;
    text-align: center;
    position: absolute;
}

.footer-btn {
    margin-top: 10px;
    color: #FFFFFF;
    text-decoration: none;
	font-weight: bold;
}

