@font-face {
  font-family: 'HelveticaNeueLT Pro 55 Roman';
  src: url('../fonts/HelveticaNeueLTPro-Roman.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueLTPro-Roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaNeueLTPro-Roman.woff') format('woff'), /* Modern Browsers */
       url('../fonts/HelveticaNeueLTPro-Roman.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaNeueLTPro-Roman.svg#d1a2c6b6bbb42f642f25c6a2c64a65d0') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}
@font-face {
  font-family: 'HelveticaNeueLT Pro 45 Lt';
  src: url('../fonts/HelveticaNeueLTPro-Lt.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueLTPro-Lt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaNeueLTPro-Lt.woff') format('woff'), /* Modern Browsers */
       url('../fonts/HelveticaNeueLTPro-Lt.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaNeueLTPro-Lt.svg#3162d512a0b0767ee94e99606f47da13') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}
@font-face {
  font-family: 'HelveticaNeue Bold';
  src: url('../fonts/HelveticaNeueLTPro-Bd.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueLTPro-Bd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaNeueLTPro-Bd.woff') format('woff'), /* Modern Browsers */
       url('../fonts/HelveticaNeueLTPro-Bd.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaNeueLTPro-Bd.svg#efe703c29c750bbe20a3718d66e89bed') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}
/*----------------- Reset ---------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	background: #fff;
	line-height: 1;
}
ol, ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a img {
	border: 0;
}
/* Block elements */
header, hgroup, footer, section, article, aside {
	display: block;
}
/* Clear */
.clear { clear: both }
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
* html .clearfix{ zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
.remove-margin { margin-right: 0 !important }
/*----------------- Landing page ---------------------------*/
html{
    height: 100%;
}
body{
    width:100%;
    padding:0;
    margin:0;
    height:100%;
    background: url(../images/background.png) repeat top center;
    font-family: 'HelveticaNeueLT Pro 55 Roman', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #393939;
}
strong{
    font-family: 'HelveticaNeue Bold';
}
input, textarea{
    border: 1px solid rgba(1,1,1,.2);
    -moz-border-radius: 7px / 5px;
    -webkit-border-radius: 7px / 5px;
    border-radius: 7px / 5px;
    background-color: #fff;
    -moz-box-shadow: inset 0 1px 5px rgba(1,1,1,.25);
    -webkit-box-shadow: inset 0 1px 5px rgba(1,1,1,.25);
    box-shadow: inset 0 1px 5px rgba(1,1,1,.25);
    font-size:16px;
    line-height: 18px;
    color:#a3a3a3;
    font-family:"Lucida Grande", sans-serif;
}
textarea{
    line-height: 24px;
}
input[type="text"]:focus, textarea:focus{
    color:#393939;
}
#container{
    background-repeat: no-repeat;
    background-position: top center;
    height: 100%;
}
#container img{
    width:102%;
    height:102%;
    margin:-10px -20px -20px -10px;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px); 
    -o-filter: blur(4px); 
    -ms-filter: blur(4px); 
    filter: blur(4px);
}
#wrap{
    position:absolute;
    top:0;
    height: 100%;
    width:100%;
    margin:0;
    background: url(../images/overlay-new.png) repeat-x top left;
    display: inline-table;
}
#main{
    width:900px;
    margin: 0 auto 66px;
}
#info-wrapper{
    width:366px;
    float:left;
    margin-top:90px;
}
#info{
    padding: 10px;
    width: 346px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    -moz-box-shadow: 0 2px 4px rgba(1,1,1,.25);
    -webkit-box-shadow: 0 2px 4px rgba(1,1,1,.25);
    box-shadow: 0 2px 4px rgba(1,1,1,.25);
}
#info .info-header{
    margin-bottom: 10px;
}
#info .info-header .userphoto{
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    width:62px;
    height:62px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #1a9db5;
    -moz-box-shadow: 0 1px 2px rgba(1,1,1,.5);
    -webkit-box-shadow: 0 1px 2px rgba(1,1,1,.5);
    box-shadow: 0 1px 2px rgba(1,1,1,.5);
    float:left;
    margin-right:10px;
}
#info .info-header h3{
    font-size: 18px;
    float:left;
    line-height: 62px;
    font-family:'HelveticaNeue Bold';
}
#info .info-content{
    width:346px;
    height:346px;
    position: relative;
}
#info .info-content .main-image{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    height:346px;
    width:346px;
}
#info .info-content .overlay{
    width:346px;
    height:188px;
    bottom: 0px;
    left:0;
    background: url(../images/blk-shad.png) repeat-x bottom left;
    display:block;
    z-index:5;
    position:absolute;
     -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#info .info-content .content-detail{
    position:absolute;
    left:15px;
    display:block;
    bottom: 15px;
    z-index: 10;
}
#info .info-content .content-detail h3{
    font-size:28px;
    line-height:36px;
    color:#fff;
    margin-bottom:8px;
    font-family: 'HelveticaNeueLT Pro 45 Lt';
    font-weight:300;
}
#info .info-content .content-detail .location, #info .info-content .content-detail .globe{
    width:22px;
    height:22px;
    float: left;
    margin-right:15px;
    background: url(../images/icon-location.png) no-repeat;
}
#info .info-content .content-detail .globe{
    background: url(../images/icon-globe.png) no-repeat;
}
#info-wrapper .info-footer{
    margin-top: 20px;
    font-size: 14px;
    line-height: 18px;
    text-shadow: 0 2px 0 rgba(255,255,255,.5);
}
#main-right{
    margin-top: 0px;
    width:534px;
    float: right;
}
#main-right #header{
    height:105px;
    padding:10px 0;
    width:534px;
    display: block;
}
#main-right #header h1{
    background-repeat: no-repeat;
    width: 260px;
    height: 105px;
    text-indent: -99999px;
    margin: 0 auto;
    padding: 0px;
    display:block;
}
#main-right .title{
    color: #393939;
    font-weight:bold;
    font-size: 28px;
    line-height:30px;
    margin-top:20px;
    text-shadow: 0 2px 0 rgba(255,255,255,.5);
    text-align:center;
}
#main-right #ribbon{
    margin-top: 20px;
    color:#FFF;
    width:535px;
    height: 83px;
    background: url(../images/ribbon.png) no-repeat top left;
    text-align:center;
    padding: 15px 0 18px;
}
#main-right #ribbon h2{
    font-size: 42px;
    line-height: 42px;
    height:42px;
    font-family:'HelveticaNeue Bold';
    margin-bottom:2px;
}
#main-right #ribbon p{
    font-size:22px;
    line-height:27px;
    height:27px;
}
#main-right #ribbon small{
    font-size:14px;
    line-height: 14px;
}
#main-right #ribbon-bottom{
    margin-top: 8px;
    color:#2079e8;
    width:535px;
    height: 66px;
    background: url(../images/ribbon-bottom.png) no-repeat top left;
    text-align:center;
    padding: 23px 0 27px;
}
#main-right #ribbon-bottom h2{
    font-size: 42px;
    line-height: 42px;
    height:42px;
    font-family:'HelveticaNeue Bold';
    margin-bottom:2px;
    color:#2079e8;
}
#main-right #ribbon-bottom p{
    font-size:22px;
    line-height:22px;
    height:22px;
}
#main-right #bottom{
    width:500px;
    float:right;
}
#main-right #facebook-div{
    margin-top: 12px;
}
#main-right #facebook-div .email{
    width: 221px;
    padding-right:10px;
    float:left;
    border-right: 1px solid #b3b3b3; 
}
#main-right #facebook-div .email input[type="text"]{
    height:18px;
    padding:7px;
    width:207px;
    margin-bottom:5px;
}
#main-right #facebook-div .fb{
    width:258px;
    float:right;
}
#main-right #facebook-div p.title{
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
    color: #393939;
    text-shadow: 0 2px 0 rgba(255,255,255,.5);
}
#main-right #facebook-div p.disclaimer{
    font-size:12px;
    line-height: 15px;
    margin-top: 5px;
    font-family: 'HelveticaNeueLT Pro 45 Lt';
    font-weight:300;
    text-align: center;
    margin-bottom:10px;
}

#footer-wrap{
    position:fixed;
    bottom:0;
    left:0;
    background: url(../images/footer-bg.png) repeat-x;
    height:56px;
    width:100%;
    display:block;
    z-index: 15;
}
#footer{
    width:900px;
    margin:0 auto;
    font-size:14px;
    line-height: 56px;
}
#footer .footer-left{
    text-align:left;
    width:450px;
    float:left;
}
#footer .footer-right{
    text-align:right;
    width:450px;
    float:right;
    color: #c3c3c3;
    text-shadow: 0 -2px 0 rgba(0,0,0,.5);
}
#footer .footer-left a{
    color: #fff;
    text-decoration:none;
    text-shadow: 0 -2px 0 rgba(0,0,0,.5);
}
#footer .footer-left a:hover{
    color: #c3c3c3;  
}
#main-right .btn {
    color: #fff;
    font-size: 18px;
    padding: 2%;
    border: 0px;
    text-align: center;
    width: 340px;
    height: 50px;
    border-radius: 10px;
    filter: dropshadow(color=#050505,offx=-1,offy=-1)
}
#main-right .grd-btn {
    background: url('../images/btn_blue.png');
    background-size: cover;
}
#main-right .btn-center {
    margin: 20px 120px 10px 120px;
}
#main-right .btn-group {
    margin: 20px 90px 10px 100px;
}
#main-right .col-5 {
    float: left;
    width: 20%;
}
#main-right #btn-container {
    position: relative;
    float: right;
    width: 500px;
}
#main-right #share-success h2 {
    font-size: 30px;
    line-height: 42px;
    font-family:'HelveticaNeue Bold';
    margin-bottom:20px;
}
#main-right #share-success p {
    font-size:20px;
    line-height:20px;
}
#main-right #share-success {
    width: 400px;
    margin: 20px auto;
    text-align: center;
}
.spinner-modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .4 ) 
                url('../images/spinner.gif') 
                50% 50% 
                no-repeat;
}
#main-right #btn-container {
    margin-top: 15px;
}
#btn-container input {
    height:18px;
    padding:7px;
    width:486px;
    margin-bottom:7px;
}
#btn-container textarea {
    height:60px;
    padding:7px;
    width:486px;
    margin-bottom: 7px;
    display: block;
}
#btn-container #share-btn-div {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}
#btn-container #share-btn {
    font-size: 16px;
}
button :disable {
    opacity: 0.4;
}
input[type="button"]:disabled {
    opacity: 0.4;
}
#share-info-div {
    text-align: center;
    font-size: 20px;
    margin: 30px 0 30px 0;
}
#share-info-div h3 {
    font-weight: bold;
}
.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/popbk.png) left top repeat;
    display: block;
    z-index: 99999;
}
.cls-popup {
    width: 400px;
    margin: 200px auto 0 auto;
    padding: 3%;
    background: #dddddd;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -moz-box-shadow: 0 2px 3px 0 #000;
    -webkit-box-shadow: 0 2px 3px 0 #000;
    box-shadow: 0 2px 3px 0 #000;
    position: relative;
}
.cls-btn {
    left: -10px;
    position: absolute;
    top: -8px;
}

.cls-popup h3 {
    color: #3A3A3A;
    font-size: 23px;
    text-align: center;
}
.cls-popup h1 {
    color: #3A3A3A;
    font-size: 32px;
    margin: 2% 7%;
    text-align: center;
}
.cls-popup p {
    float: left;
    width: 100%;
    color: #3a3a3a;
    font-size: 16px;
    text-align: center;
    margin-top:28px;
    margin-bottom:28px;
}
.btn {
    color: #fff;
    font-size: 18px;
    padding: 2%;
    border: 0px;
    text-align: center;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    filter: dropshadow(color=#050505,offx=-1,offy=-1);
    margin: 0 100px 0 100px;
}
.grd-btn {
    background: url('../images/btn_blue.png');
    background-size: cover;
}
.full-width {
    width: 100%;
}
.divider {
    position:absolute;
    left:51%;
    top:6px;
    height:72px;
    border-left:2px solid rgb(180,180,180);;
}
#login_div {
    display: inline-block;
}
#login_div .note {
    text-align: center;
    width: 90%;
    margin: 12px auto;
    font-size: 13px;
}
#btn-container #username-input {
    width: 230px;
}
#btn-container #email-input {
    width: 230px;
}
